---
import About from '../components/about.astro';
import CornerMarks from '../components/corner-marks.astro';
import Footer from '../components/footer.astro';
import Hero from '../components/hero.astro';
import OffOrbit from '../components/off-orbit.astro';
import PersonalProjects from '../components/personal-projects.astro';
import Skills from '../components/skills.astro';
import Work from '../components/work.astro';
import Layout from '../layouts/layout.astro';
---
<Layout>
  <main id="main-content">
    <CornerMarks />
    <Hero />
    <About />
    <Skills />
    <Work />
    <PersonalProjects />
    <OffOrbit />
  </main>
  <Footer />
</Layout>
